<a href="https://colab.research.google.com/github/RubensPalhares/Projetos-Python/blob/master/Aula_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
=#Operadores Aritméticos A linguagem Python nos permite criar expressões 
# matemáticas com imensa facilidade. No dia a dia, nem todos os programas
# precisarão de expressões matemáticas complexas, mas é importante saber 
# como usar os operadores aritméticos do Python.
# Soma e subtração
print(10 + 2 - 7)
# Potência: 2 ^ 4
print(2 ** 4)
# Divisão de ponto flutuante
print(20 / 6)
# Divisão inteira, sem considerar o resto
print(20 // 6)

5
16
3.3333333333333335
3

In [ ]:
#   Exercício Python 004 - Dissecando uma Variável
#   Faça um programa que leia algo pelo teclado
#   e mostre na tela o seu tipo primitivo e todas as informações possíveis sobre ele.

frase = str(input("Digite algo: "))

print("O tipo primitivo desse valor é {}".format(type(frase)))
print("Só tem espaços? {}".format(frase.isspace()))
print("É um número? {}".format(frase.isnumeric()))
print("É alfabético? {}".format(frase.isalpha()))
print("É alfanumérico? {}".format(frase.isalnum()))
print("Esta em maiúsculas? {}".format(frase.isupper()))
print("Esta em minúsculas? {}".format(frase.islower()))
print("Esta capilatizado? {}".format(frase.istitle()))

Digite algo: Rubens
O tipo primitivo desse valor é <class 'str'>
Só tem espaços? False
É um número? False
É alfabético? True
É alfanumérico? True
Esta em maiúsculas? False
Esta em minúsculas? False
Esta capilatizado? True

In [ ]:

def menu():
    continuar=1
    while continuar:
        continuar = int(input("0. Sair \n"+
                              "1. Jogar novamente\n"))
        if continuar:
            game()
        else:
            print("Saindo...")

def game():
    jogada=0

    while ganhou() == 0:
        print("\nJogador ", jogada%2 + 1)
        exibe()
        linha  = int(input("\nLinha :"))
        coluna = int(input("Coluna:"))

        if board[linha-1][coluna-1] == 0:
            if(jogada%2+1)==1:
                board[linha-1][coluna-1]=1
            else:
                board[linha-1][coluna-1]=-1
        else:
            print("Nao esta vazio")
            jogada -=1

        if ganhou():
            print("Jogador ",jogada%2 + 1," ganhou apos ", jogada+1," rodadas")

        jogada +=1
    
def ganhou():
    #checando linhas
    for i in range(3):
        soma = board[i][0]+board[i][1]+board[i][2]
        if soma==3 or soma ==-3:
            return 1

     #checando colunas
    for i in range(3):
        soma = board[0][i]+board[1][i]+board[2][i]
        if soma==3 or soma ==-3:
            return 1

    #checando diagonais
    diagonal1 = board[0][0]+board[1][1]+board[2][2]
    diagonal2 = board[0][2]+board[1][1]+board[2][0]
    if diagonal1==3 or diagonal1==-3 or diagonal2==3 or diagonal2==-3:
        return 1

    return 0

def exibe():
    for i in range(3):
        for j in range(3):
            if board[i][j] == 0:
                print(" _ ", end=' ')
            elif board[i][j] == 1:
                print(" X ", end=' ')
            elif board[i][j] == -1:
                print(" O ", end=' ')

        print()
                

board= [ [0,0,0],
         [0,0,0],
         [0,0,0] ]

menu()

In [ ]:
n = 6
fatorial = 1
while n > 1:
  fatorial *= n 
  n -= 1 
print(fatorial)

720

In [ ]:
# Exemplo de função que retorna um valor.
def f(n):
    return n 
resultado = f(10)
print("O valor do parâmetro é {}".format(resultado))

In [ ]:
# Outro exemplo de função que retorna um valor.
def eleva_ao_quadrado(n):
 return n ** 2
print("O número {} elevado ao quadrado é {}".format(10, eleva_ao_quadrado(10)))

In [ ]:
# Exemplo de função que retorna mais de um valor.
def quociente_resto(x, y):
    quociente = x // y
    resto = x % y
    return (quociente, resto)

print("Quociente e resto: ", quociente_resto(9, 4))

In [ ]:
# Exemplo mais elaborado de função em Python.
def fatorial(n):
    fat = 1
    while n > 1:
        fat *= n
        n -= 1
    return fat
print("O fatorial de {} é {}".format(6, fatorial(6)))

O fatorial de 6 é 720

In [ ]:
a = 5
b = 8 
soma = a + b 
print(soma)

In [ ]:
raio = float(input('Entre com o valor do raio, para obter a circuferência do círculo: '))

circunferencia = 2 * 3.14 * raio

print("A circuferência do círculo: {:.2f}".format(circunferencia))

In [ ]:
a = 5
b = 8 
soma = a + b 
quadrado = soma**2
print( 'A soma é: ', soma, ' O quadrado é:',quadrado )

A soma é:  13  O quadrado é: 169

In [ ]:
a = 5
b = 7
soma = a + b 
if soma == 13:
  print('A soma é 13')
else:
  print('A soma não é 13')

A soma não é 13

In [ ]:
def soma(x,y):
 total = x+y
 print("Total soma = ",total)
#programa principal
total = 10
soma(3,5)
print("Total principal = ",total)

Total soma =  8
Total principal =  10

In [ ]:
nome= 'FHA DESENVOLVIMENTO DE SISTEMAS '
print (nome)

FHA DESENVOLVIMENTO DE SISTEMAS

In [ ]:
# 7) Faça um Programa que calcule a área de um quadrado, 
#em seguida mostre o dobro desta área para o usuário.  
#valor do quadrado  é 45. Qual o valor da multiplicação ? 
#( utilize a plataforma Colaboratory digite o codigo e veja o resultado) 

lado = float(input("Informe o lado do quadrado"))
area = lado  
dobro = (area * 2)
print("A área é do Quadrado é:",area,"e o dobro é ", dobro)

Informe o lado do quadrado88
A área é do Quadrado é: 88.0 e o dobro é  176.0

In [ ]:
idade = 66
idade

66

In [ ]:
def hello(meu_nome):
  print('ola', meu_nome)
  hello('Fabio')
  meu_nome

In [ ]:
print ('Bem vindo povo interessado em python!' )

Bem vindo povo interessado em python!

Vamos trabalhar os conseitos iniciais de phyton

## variaveis em boolean

In [ ]:
notas = [0, 0, 9.0, 8.0, 5.0, 10.0, 7.0, 7.5, 4.0, 10.0, 7.0, 7.0, 8.0, 8.0, 7.5]
notas_validas = [nota for nota in notas if nota > 6.0]
print(notas_validas)

[9.0, 8.0, 10.0, 7.0, 7.5, 10.0, 7.0, 7.0, 8.0, 8.0, 7.5]

In [ ]:
[9.0, 8.0, 5.0, 10.0, 7.0, 7.5, 4.0, 10.0, 7.0, 7.0, 8.0, 8.0, 7.5]
media_valida = sum(notas_validas) / len(notas_validas)
print(media_valida)
qtd_de_setes = notas.count(7.0)
print(qtd_de_setes)
qtd_alunos_na_media = notas.count(7.0) + notas.count(7.5) + notas.count(8.0)
print(qtd_alunos_na_media)

8.833333333333334
3
8

In [ ]:
B = ['A','C','D','H']
B

In [ ]:
lista1 = ['a', 'b', 'c'] # união das listas
lista2 = [ 'd', 'e', 'f', 'g']
uniao = lista1 + lista2 
print(uniao)

In [ ]:
h =  [0,1,2] # repetir elementos de uma lista usando o operador
h*4

In [ ]:
#contruir lista com construtor list() 
tupla = (1,2,3,4,5)
lista = list(tupla)
lista

[1, 2, 3, 4, 5]

In [ ]:
notas = [0, 0, 9.0, 8.0, 5.0, 10.0, 7.0, 7.5, 4.0, 10.0, 7.0, 7.0, 8.0, 8.0, 7.5]

qtd_alunos_na_media = 0
for nota in notas:
 if 6.0 <= nota <= 7.0:
  qtd_alunos_na_media += 1
print(qtd_alunos_na_media)

3

In [ ]:
# tabuada do 2 com laço de repetição for
for i in range(1,11):
  print(f"2*{i} = {2*i}")

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20

In [ ]:
lado = float(input("Informe o lado do quadrado"))
area = lado * lado
dobro = area * 2
print("A área é do Quadrado é: ",area, "e o dobro é ", dobro)

Informe o lado do quadrado7
A área é do Quadrado é:  49.0 e o dobro é  98.0

### Atribuição de Variaveis.

In [ ]:
meu_nome = 'Rubens Palhares'
print (meu_nome)

Rubens Palhares

In [ ]:
for n in range(8):
  print('Bem vindo ao Desenvolvimento de Sistemas')

Bem vindo ao Desenvolvimento de Sistemas
Bem vindo ao Desenvolvimento de Sistemas
Bem vindo ao Desenvolvimento de Sistemas
Bem vindo ao Desenvolvimento de Sistemas
Bem vindo ao Desenvolvimento de Sistemas
Bem vindo ao Desenvolvimento de Sistemas
Bem vindo ao Desenvolvimento de Sistemas
Bem vindo ao Desenvolvimento de Sistemas

In [ ]:
for n in range(8):
  print(n)

0
1
2
3
4
5
6
7

In [ ]:
print(8+6)
print(5*4)
print(16/3)
print(2**3)

14
20
5.333333333333333
8

In [ ]:
# operação mostra o resultado inteiro
print(16//3)

5

In [ ]:

# operação que mostra o resto da divisão 
print(5%2)

1

In [ ]:
variavel1 = 53
variavel2 = 74
variavel3 = 98
variavel4 = 440
print(variavel4)

440

In [ ]:
#crie um script python que leia o dia, mês e o ano de
# nascimento de uma pessoa e mostre uma mensagem com
# a data formatada.
print('Informe sua data de nascimento')
dia = input('Dia')
mês = input('Mês')
ano = input('Ano')
print('Você nasceu dia', dia , 'Mês', mês ,'Ano', ano)

Infomorme sua data de nascimento
Dia7
Mês7
Ano23456
Você nasceu dia 7 Mês 7 Ano 23456

In [ ]:
# Cálculo da área de um triangulo.
base = 2
altura = 5
area = (base * altura) / 2
print(area)

5.0

In [ ]:
condicao = False

if condicao == True:
    print("A condicao é verdadeira.")
else:
    print("A condicao é falsa.")

A condicao é falsa.

In [ ]:
condicao_1 = False
condicao_2 = False

if condicao_1:
  print("A condicao_1 é verdadeira.")
elif condicao_2:
  print("A condicao_2 é verdadeira.")
else:
  print("As condições condicao_1 e condicao_2 são falsas.")

As condições condicao_1 e condicao_2 são falsas.

In [ ]:
n1 = int(input('Digite o primero número '))
n2 = int(input('Digite o segundo número '))
s = n1+n2

print("A soma dos seus números é: ", s)

Digite o primero número 66
Digite o segundo número 88
A soma dos seus números é:  154

In [ ]:
n = int(input('Digite um número: '))
a = n - 1
s = n + 1
print('Analisando o valor {}, seu antecessor é {} e o sucessor é {} '.format(n, a, s))

print('Analisando o valor {}, seu antecessor é {} e o sucessor é {} '. format(n, (n-1), (n+1)))

In [ ]:
n = int(input('Digite um número: '))
a = n - 1
s = n + 1
print('Analisando o valor {}, seu antecessor é {} e o sucessor é {} '.format(n, a, s))

print('Analisando o valor {}, seu antecessor é {} e o sucessor é {} '. format(n, (n-1), (n+1)))

In [ ]:
n = float(input('Quanto você tem na sua carteira? R$ '))
c = n / 5.27
print("Você tem R$ {:.2f} reais que pode comprar U$ {:.2f} dolar: ".format(n , c))

Quanto você tem na sua carteira? R$ 55
Você tem R$ 55.00 reais que pode comprar U$ 10.44 dolar:

In [ ]:




medida = float(input('Digite uma distância em mêtros: '))
cm = medida * 100
mm = medida * 1000
print('A medida de {} corresponde a {:.0f} cm e {:.0f} mm '.format(medida, cm, mm))

Digite uma distância em mêtros: 568
A medida de 568.0 corresponde a 56800 cm e 568000 mm

In [ ]:



num = int(input("Digite um numero inteiro "))
if num % 2 == 0:
    print('O numero {} é par! '.format(num))
else:
    print('O numero {} é impar! '. format(num))

Digite um numero inteiro 23
O numero 23 é impar!

In [ ]:




if (True == False):
 print('Esse é o Código que será executado caso a declaração seja verdadeira')
else:
 print('Esse é o código executado caso a declaração seja Falsa')

Esse é o código executado caso a declaração seja Falsa

In [ ]:






nome='Marcos'
idade=55
peso=87.0

print(nome,idade,peso)

Marcos 55 87.0

In [ ]:
for i in range(1,11):
  print(f"2*{i} = {2*i}")

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20

In [ ]:
for i in range (0,11):
  if i > 7:
    print(f"A nota {i} é otima.")
  if i == 5:
    print(f"A nota {i} é regular")
  if i <= 4:
    print(f"A nota {i} é abaixo da média")

A nota 0 é abaixo da média
A nota 1 é abaixo da média
A nota 2 é abaixo da média
A nota 3 é abaixo da média
A nota 4 é abaixo da média
A nota 8 é otima.
A nota 9 é otima.
A nota 10 é otima.

In [ ]:
nome_da_lista = []
print(nome_da_lista)

[]

In [ ]:
nome_da_lista = [ 1, 2,3, "olá" , 1.1 ]
print(nome_da_lista)

[1, 2, 3, 'olá', 1.1]

In [ ]:
nome_da_lista = ["Olá, mundo", [1,2,3,],["outra lista"]]
print(nome_da_lista)
nome_da_lista.append(60)
print(nome_da_lista)

['Olá, mundo', [1, 2, 3], ['outra lista']]
['Olá, mundo', [1, 2, 3], ['outra lista'], 60]

In [ ]:
numeros = [45,50,55]
print(numeros)
numeros.insert()
print(numeros)

[45, 50, 55]

TypeError: ignored

In [ ]:
numeros=[0,0,0,0] #declaramos uma lista
numeros.extend([1,2,3])# adicionamos apenas os números da interavél
print(numeros)

[0, 0, 0, 0, 1, 2, 3]

In [ ]:
numeros.extend((4,5,6))#adicionamos os numeros a tupla
print(numeros)

[0, 0, 0, 0, 1, 2, 3, 4, 5, 6]

In [ ]:
numeros.insert(0,11)
print(numeros)

[11, 11, 45, 50, 55]

In [ ]:
numeros = [10,11,12,13]
print(numeros)
numeros.remove(10)
print(numeros)

[10, 11, 12, 13]
[11, 12, 13]

In [ ]:
#pop remove e retorna o elemento com indice especificado
numeros= ['k','m','z','a','b','k']
print(numeros)
numeros.pop(1)

['k', 'm', 'z', 'a', 'b', 'k']

'm'

In [ ]:
numeros=['k','m','z','a','b']
numeros.pop(3)

'a'

In [4]:
import math
 
def dividir(num1,num2):
    try:
        return f'{num1}/{num2}={num1/num2}'
    except ZeroDivisionError:
        return 'O denominador deve ser diferente de zero.'
    except TypeError:
        return 'Insira um valor válido.'
 
def menu_principal():
    print("Calculadora".center(65,'='))
    opcoes()
    print('='*65)
 
def opcoes():
    print("\t1 - Operações aritiméticas")
    print("\t2 - Funções Logarítimicas e Potência")
    print("\t3 - Funções trigonométricas")
    print("\t4 - Outras opções")
    print("\t5 - Sair")
    
def opcoes_1():
    print("\t1 - Soma")
    print("\t2 - Subtração")
    print("\t3 - Multiplicação")
    print("\t4 - Divisão")
    print("\t5 - Voltar")
    
    
def opcoes_2():
    print("\t1 - Quadrado")
    print("\t2 - Cubo")
    print("\t3 - Potência")
    print("\t4- Log10")
    print("\t5 - Log")
    print("\t6 - Voltar")
 
def opcoes_3():
    print("\t1 - Seno")
    print("\t2 - Cosseno")
    print("\t3 - Tangente")
    print("\t4 - Voltar")
 
def opcoes_4():
    print("\t1 - Fatorial")
    print("\t2 - Voltar")
 
def menu_1():
    opcao=0
    while opcao!=5:
        opcao=int(input(">> "))
        if opcao in range(1,5):
            num1=float(input("Número 1: "))
            num2=float(input("Número 2: "))
            if opcao==1:
                print(f'{num1}+{num2}={num1+num2}')
            elif opcao==2:
                print(f'{num1}-{num2}={num1-num2}')
            elif opcao==3:
                print(f'{num1} x {num2}={num1*num2}')
            else:
                print(dividir(num1,num2))
                
        else:
            if opcao!=5:
                print('Opção inválida.')
 
                
def menu_2():
    opcao=0
    while opcao!=6:
        opcao=int(input(">> "))
        if opcao in range(1,6):
            
            if opcao==1 or opcao==2 or opcao==4:
                num1=float(input('Número: '))
                
                if opcao==1:
                    print(f'{num1}²={num1**2}')
                elif opcao==2:
                    print(f'{num1}³={num1**3}')
                else:
                    print(f'O log de {num1} na base 10 é {math.log10(num1)}')
            else:
                if opcao==3:
                    base=float(input("Base da potência: "))
                    exp=float(input("Expoente: "))
                    print(f'{base}^{exp}={base**exp}')
                if opcao==5:
                    base=float(input("Base do log: "))
                    num=float(input("Número: "))
                    print(f'O log de {num} na base {base} é :{math.log(num,base)}')
 
        else:
            if opcao!=6:
                print('Opção inválida.')
                
def menu_3():
    opcao=0
    while opcao!=4:
        opcao=int(input(">> "))
        if opcao in range(1,4):
            num=float(input("Número: "))
            if opcao==1:
                print(f"sen({num})={math.sin(num)}")
            elif opcao==2:
                print(f"cos({num})={math.cos(num)}")
            else:
                print(f"tan({num})={math.tan(num)}")
        else:
            if opcao!=4:
                print('Opção inválida.')
def menu_4():
    opcao=0
    while opcao!=2:
        opcao=int(input(">> "))
        if opcao==1:
            num=int(input("Digite o número inteiro: "))
            print(f"{num}!={math.factorial(num)}")
      else:
        if opcao!=2:
                print('Opção inválida.')
 
def main():
    escolha=''
    
    while escolha!='5':
        
        menu_principal()
        
        escolha=input(">> ")
        
        if escolha in list('1234'):
            
            if escolha=='1':
                opcoes_1()
                menu_1()
 
            elif escolha=='2':
                opcoes_2()
                menu_2()
                
            
            elif escolha=='3':
                opcoes_3()
                menu_3()
                
            elif escolha=='4':
                opcoes_4()
                menu_4()
                
        elif escolha=='5':
            print("Fim do programa")
            
        else:
            print("Opção inválida")
            
 
main()

IndentationError: ignored



1.   Item da lista
2.   Item da lista